//Colors

$white: #FFF;
$black: #000;

$accent-gradient: linear-gradient(0deg, rgba(60,108,8,0.65) 0%, #80E80F 100%);
$accent-color: #80E80F;

$border-color: #E6E6E6;
$grid_border-color: #3C6C08;

$font-color: #404040;

$footer-color: #F7F7F7;

//Font

$primary-font: 'Poppins', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

