//Colors

$white: #FFF;
$black: #000;

$accent-color: #00E676;

//to:review
$input-focus-color: $accent-color !default;


$border-color: #E6E6E6;
$grid_border-color: #E0E0E0;
$rectangle-hover: #69F0AE;

$font-color: #424242;
$cancel-color: #9b9b9b;
$insert-color: #60734D;
$help-text-color: #BDBDBD;

$footer-color: #F7F7F7;

//Font

$primary-font: 'Poppins', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$base: #3f4345;
$gray: #f6f5f1;
$grayDarker: #bbbbbb;
$grayLighter: #dcdcdc;