.DS_Store
node_modules
bower_components
error_log
*.sublime-project
.idea
labels.json
package-lock.json
/assets/css/style.css
/assets/css/style.css.map
/assets/css/rtl.css
style.css.map
rtl.css
style.css