//General

#acidcodes_shortcodes_modal {
  %cf:after {
    content: "";
    display: table;
    clear: both;
  }

  &.l_acid_modal {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    color: $font-color;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  }

  &.reveal-modal {
    overflow: hidden;
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 580px;
    background: $white;
    position: absolute;
    z-index: 160000 + 5;

    #acidcodes_shortcodes {
      overflow: visible;
    }
  }

}

  .reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    background: rgba(0,0,0,.8);
    z-index: 160000 + 1;
    display: none;
    top: 0;
    left: 0;
  }

.mce-acidcodes_shortcodes button {
  background: url(assets/images/acid-icon.png) 3px 3px no-repeat !important; }
.mce-acidcodes_shortcodes button:hover {
  background: url(assets/images/acid-icon.png) 3px -27px no-repeat !important; }
