#acidcodes_shortcodes_form {
  .media_image_holder {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background: #ddd;
    @include border-direction(radius, 10px);
    @include padding(30px 20px);
    position: relative;

    .upload_preview {
      display:none;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index:9;
      @include border-direction(radius, 10px);
      height: 100%;
      width: 100%;
    }

    &:hover i.active {
      display:block;
    }
    label {
      display: block;
      @include font-source-roboto($size: 15px);
    }
  }
}
.acidcode__image-upload {
  @include font-source-roboto($size: 40px, $color: $white, $ta: center);
}
#TB_window {
  z-index: 1000500;
}