.none {
  background: none !important;
  border: none;
  box-shadow: none;
}

%equal-margin-display {
  @include margin(0 auto);
  display: block;
}
%transition {
  @include transition(all 0.3s);
}
#acidcodes_shortcodes_modal {
  i {
    font-size: 14px;
  }

  .acidcode__btn {
    & {
      cursor: pointer;
      display: inline-block;
    }
    &.acidcode__btn--back {
      @extend .none;
      @include padding(10px);
      line-height: 15px;
      visibility: hidden;
      svg {
        //@include margin(margin-right, 0);
        margin-right: 0px;
        color: $white;
      }
      span {
        @include transition(all 0.1s ease-in);
        opacity: 0;
        float: right;
        @include margin(0 0 0 5px);
        color: $white;
        line-height: 1.1;
      }
      &.active {
        visibility: visible;
        color: $white;
      }
      &:hover {
        i {
          @include margin(0 5px 0 0);
        }
        span {
          opacity: 1;
        }
      }
    }
    &.close {
      @include padding(10px 15px);
      @extend .none;
      float: right;
      color: $white;
      opacity: 1;
      svg {
        float: right;
        margin: 0;
      }
    }
    &.cancel {
      @extend .none;
      float: left;
    }
    &.btn_primary {
      background: $accent-color;
      @include box-shadow(0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24));
      border: none;

      &:hover {
        background: $accent-color;
        @include box-shadow(0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24));
        color: $white;
      }

      &.disabled {
        @extend .none;
        cursor: not-allowed;
        svg {
          @include margin(0 0 0 10px);
          position: relative;
          left: 20px;
        }
      }
    }
    &.btn_settings {
      @extend .none;
      cursor: pointer;
      color: $cancel-color;
      &:hover {
        color: $base;
      }
      svg {
        left: 0;
        color: $cancel-color;
        @include margin(0 7px 0 0);
      }
    }

    &.btn_secondary {
      border: none;
      @include font-source-roboto($size: 12px, $color: $cancel-color,$ls: 0.2px, $td: underline);
      &:hover {
        color: $base;
      }
    }
  }

  .input-field.col label {
    left: 0;
  }

  .select-wrapper input.select-dropdown {
    @include margin(0);
  }

  input[type=range]::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb, + .thumb {
    background-color: $rectangle-hover;
  }

  .hide-list .dropdown-content li:nth-child(1) {
    display: none;
  }

  .dropdown-content {
    li {
      > a {
        color: $black;
      }
      > span {
        color: $black;
        &:hover{
          color: $white;
          background-color: $rectangle-hover;
        }
      }
      &.active >span {
        color: $white;
        background-color: $accent-color;
      }
    }
  }

}

.markers label {
  @include margin-direction(15px, bottom);
}
span.social-media {
  @include margin(5px 0 20px);
  label {
    font-size: 1rem;
  }
}
span.input-special-margin {
  @include margin-direction(19px, top);
}

.checkbox-special-margin {
  @include margin(40px 0 10px 0);
}
.align-clear {
  clear: both;
}
.acid_media_uploader {
  @include margin-direction(10px, bottom);
}
.input-field.col.s12 {
  @include margin-direction(0, top);
  @include padding-direction(35px, right);
}
li.icon {
  svg {
    @extend %equal-margin-display;
  }
  &.active {
    background-color: $rectangle-hover;
    svg {
      @extend %equal-margin-display;
      color: $white;
      @include padding(5px);
      @include transition(padding .5s);
    }
  }
  &:hover {
    background:$accent-color;
    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
    @include transition(all 0.3s);
    svg {
      color: #fff;
      z-index: 12;
    }
  }
  cursor: pointer;
}

ul.acid_icon_list {
  @include overflow(hidden,scroll);
  height: 245px;
  position: relative;
  .row > li {
    clear: none !important;
    svg {
      width: 0.75em !important;
    }
  }
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    @include box-shadow(inset 0 0 4px rgba(0,0,0,0.1));
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    outline: 1px solid slategrey;
  }
  label.error {
    left: 0px;
    position: absolute;
  }
}
.icon__special-title {
  @include margin-direction(5px, bottom);
  font-weight: 500 !important;
}

.scroll-height .dropdown-content.select-dropdown {
  height: 150px ;
}