//Modal Footer
#acidcodes_shortcodes_modal {
  .l_modal_footer {
    position: relative;
    padding: 10px 20px;
    border-top: 1px solid $grayLighter;
    background-color: $border-color;
    span {
      color: $grayDarker;
      line-height: 30px;
    }
  }

}