//Helpers
.l_modal_header, .l_modal_body, .l_modal_footer {
  @extend %cf;
}

//Modal Header
#acidcodes_shortcodes_modal {
  .l_modal_header {
    & {
      background: $accent-color;
      background-color: $accent-color;
      position: relative;
      border-bottom: 1px solid $border-color;
    }
    .back, .close {
      box-shadow: none;
    }
    margin-bottom: 0;
  }
}

.l_modal_title.col.s8 {
  color: $white;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: 16px;
  font-family: 'Roboto',sans-serif;
}
