#acidcodes_shortcodes_form {
  .media_image_holder {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background: #ddd;
    @include border-direction(radius, 10px);
    @include padding(30px 20px);
    position: relative;

    .upload_preview {
      display:none;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index:9;
      @include border-direction(radius, 10px);
      height: 100%;
      width: 100%;
    }

    &:hover i.active {
      display:block;
    }
    label {
      display: block;
      @include font-source-roboto($size: 15px);
    }
    &.image__uploader--tm {
      @include padding(73px 20px);
    }
    &.image__uploader--pr {
      @include padding(35px 20px);
    }

  }
  textarea.materialize-textarea.acidcode__textarea {
    @include padding(.8rem 0 3rem 0);
    &:focus {
      border-bottom: 1px solid $accent-color;
      box-shadow: 0 1px 0 0 $accent-color;
    }
  }
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.acidcode__image-upload {
  @include font-source-roboto($size: 40px, $color: $white, $ta: center);
}
#TB_window {
  z-index: 1000500;
}