//Modal Body
%mpf {
  margin: 0;
  padding: 0;
  float: left;
}
%a-style {
  color: $white;
  @include transition(all 0.4s);
}
#acidcodes_shortcodes_modal {
  .l_modal_body {
    & {
      color: $font-color;
    }
    a {
      @include font-source-roboto($size: 14px, $color: $font-color, $ls: 1.3px, $td: none);
    }
    .icon {
      @include font-source-roboto($size: 36px, $color: $accent-color);
      clear: both;
      display: block;
      @include margin(0 auto 10px);
    }
    ul {
      @extend %mpf;
      width: 100%;
      @include margin(5px 0 0 0);
      li {
        @extend %mpf;
        list-style: none;
      }
      & > li {
        text-align: center;
      }
    }
    label {
      color: $font-color;
      cursor: default;
      &.active.error, &.error {
        position: relative;
        @include font-source-roboto($size: 13px, $color: $error-color);
        background: #fff;
        width: 100%;
      }
    }

    .l_three_col {

      & > li {
        width: 33%;
        display: table-cell;
        vertical-align: middle;
        @include padding(0);
        @include border(1px, solid, $grid_border-color, right);
        @include border(1px, solid, $grid_border-color, bottom);

        &:nth-last-of-type(-n+3) {
          @include border-direction(bottom, none)
        }
        &:nth-child(3n) {
          @include border-direction(right,none)
        }
        a {
          display: block;
          @include padding(25px 25px);
          &:hover {
            cursor: pointer;
            background-color: $rectangle-hover;
            @extend %a-style;
            svg {
              @extend %a-style;
            }
          }
        }
        .details_content {
          display: none;
        }
      }
      .shortcode.shortcode_settings{
        display:none!important;
      }
      .shortcode.shortcode_bar {
        border-bottom: none !important;
      }

    }

    .s6 {
      @include padding(0 35px 23px 0);
    }

    span.pb__help-text {
      @include font-source-roboto($size: 12px, $color: $help-text-color, $lh: 16px);
      display: block;
      @include margin( 20px 0 0 0)
    }

    span.social-label {
      @include margin(5px 0 20px);
    }

    input[type=text],
    input[type=number],
    input[type=url] {
      &:not(.browser-default) {
        @include height-opacity($height: 2rem, $opacity: false);
        @include margin(0 0 5px 0);
      }
    }

    //Forms Styling
    form {
      border: none;
    }
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
    }

    .input-field label.active {
      color: $rectangle-hover;
    }
    .help-block {
      display: block;
      @include margin(0 0 10px 0);
      @include font-source-roboto($size: 12px, $color: $grayDarker, $weight: false,  $lh: false, $ls:false);
    }
    select, textarea, input, .uneditable-input {
      &:focus {
        outline: 0;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: auto;
    }

    [type="checkbox"]:checked + span:not(.lever):before {
      @include border-direction(right-color, $rectangle-hover);
      @include border-direction(bottom-color, $rectangle-hover);
    }
    input[type=range] + .thumb {
      background-color: $accent-color;
    }
    input[type=range]::-webkit-slider-thumb {
      background-color: $accent-color;
    }

    select {
      height: 32px;
    }
  }
  &.l_acid_modal {
    .l_modal_body {
      .details_container {
        padding: 0px;
        .details_content {
          @include margin(10px 0 0 0);
          @include height-opacity($height: 0, $opacity: 0);
          @extend %transition;
          button[type="submit"] {
            display: none;
          }
          &.active {
            @include margin(0 0 0 0);
            @include height-opacity($height: auto, $opacity: 1);
          }
        }
      }
      & > ul {
        @include height-opacity($height: auto, $opacity: 1);
        @include margin(0 0 10px 0);
      }
      .inline {
        & {
          @include margin(20px 0 0 0);
        }
        label {
          float: left;
          line-height: 31px;
          @include margin(0 13px 0 0);
        }
        input {
          width: auto;
        }
      }
    }

    &.s_active {
      .l_modal_body {
        .details_container {
          display: block;
          @include padding(20px 20px 0px 20px);
        }
        & > ul {
          @include height-opacity($height: 0, $opacity: 0);
          @include margin(10px 0 0 0);
          padding: 0;
        }
      }
    }
  }
}