//General

#acidcodes_shortcodes_modal {
  %cf:after {
    content: "";
    display: table;
    clear: both;
  }

  &.l_acid_modal {
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: $font-color;
    //color: #F7F7F7;
    overflow: hidden;
    //@include border-radius(4px);
    border-radius: 4px;
    //@include box-shadow(0 3px 5px rgba(0, 0, 0, 0.8));
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    //cursor: default;
  }

  &.reveal-modal {
    overflow: hidden;
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 580px;
    background: $white;
    position: absolute;
    z-index: 160000 + 5;

    #acidcodes_shortcodes {
      overflow: visible;
    }
  }

}

  .reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    background: rgba(0,0,0,.8);
    z-index: 160000 + 1;
    display: none;
    top: 0;
    left: 0;
  }
