//Modal Footer
#acidcodes_shortcodes_modal {
  .l_modal_footer {
    position: relative;
    padding: 10px 20px;
    border-top: 1px solid $grayLighter;
    background-color: $border-color;
    margin-bottom: 0;
    span {
      color: $grayDarker;
      line-height: 35px;
    }
    * .row {
      margin-bottom: 0;
    }
    a {
      font-family: 'Roboto', sans-serif;
    }
    .insert-button {
      cursor: not-allowed;
    }
  }

}