.none {
  background: none;
  border: none;
  box-shadow: none;
}

%equal-margin-display {
  margin: 0 auto;
  display: block;
}
%transition {
  transition-property: all;
  transition-duration: 0.3s;
}

#acidcodes_shortcodes_modal {
  i {
    font-size: 14px;
  }

  .btn {
    margin: 0;
    & {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      border: 1px solid #cccccc;

      i {
        margin-right: 5px;
        color: #939393;
        float: left;
      }
      &:hover {
        i {
          color: $base;
        }
      }
    }
    &.back {
      @extend .none;
      padding: 10px;
      line-height: 15px;
      visibility: hidden;

      svg {
        margin-right: 0px;
        color: $white;
      }
      span {
        @extend %transition;
        opacity: 0;
        float: right;
        margin-left: 5px;
        color: $white;
      }
      &.active {
        visibility: visible;
        color: $white;
      }
      &:hover {
        i {
          margin-right: 5px;
        }
        span {
          opacity: 1;
        }
      }
    }
    &.close {
      padding: 10px 15px;
      @extend .none;
      float: right;
      color: $white;
      opacity: 1;
      svg {
        float: right;
        margin: 0;
      }
    }
    &.cancel {
      @extend .none;
      color: #757575;
      float: left;
    }
    &.btn_primary {
      background: $accent-color;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
      border: none;

      &:hover {
        background: $accent-color;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
        color: $white;
      }

      &.disabled {
        background: none !important;
        @extend .none;
        cursor: not-allowed;
        svg {
          margin-left: 10px;
          position: relative;
          left: 20px;
        }
      }
    }

    &.btn_secondary {
      border: none;
      text-decoration: underline;
      font-size: 12px;
      color: $cancel-color;
      letter-spacing: 0.2px;
      &:hover {
        color: $base;
      }
    }
  }

  .input-field.col label {
    left: 0;
  }

  .select-wrapper input.select-dropdown {
    margin: 0;
  }

  input[type=range]::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb, + .thumb {
    background-color: $rectangle-hover;
  }

  .hide-list .dropdown-content li:nth-child(1) {
    display: none;
  }

  .dropdown-content {
    li {
      > a {
        color: $black;
      }
      > span {
        color: $black;
        &:hover{
          color: $white;
          background-color: $rectangle-hover;
        }
      }
      &.active >span {
        color: $white;
        background-color: $accent-color;
      }
    }
  }

}

.markers label {
  margin-bottom: 15px;
}
span.social-media {
  margin: 5px 0 20px;
  label {
    font-size: 1rem;
  }
}
span.input-special-margin {
  margin-top: 19px;
}

.shame-margin {
  margin: 20px 0px 10px 0px;
}
.align-clear {
  clear: both;
}
.acid_media_uploader {
  margin-bottom: 10px;
}
.input-field.col.s12 {
  margin-top: 0;
  padding-right: 35px;
}
.input-special-margin label {
  margin-top: -5px;
}
li.icon {
  svg {
    @extend %equal-margin-display;
  }
  &.active {
    background-color: $rectangle-hover;
    svg {
      @extend %equal-margin-display;
      color: $white;
      padding: 5px;
      transition: padding .5s;
    }
  }
}

ul.acid_icon_list {
  overflow: scroll;
  height: 230px;
  .row > li {
    clear: none !important;
  }
}

.scroll-height .dropdown-content.select-dropdown {
  height: 150px ;
}