//Modal Footer
#acidcodes_shortcodes_modal {
  .l_modal_footer {
    position: relative;
    @include padding(10px 20px);
    @include border(1px, solid, $grayLighter, top);
    background-color: $border-color;
    @include margin-direction(0, bottom);
    * .row {
      @include margin-direction(0, bottom);
    }
    a {
      font-family: 'Roboto', sans-serif;
    }
  }

}
.acidcode__span-or {
  @include font-source-roboto( $color: $grayDarker, $lh: 35px);
}
.acidcode__insert-button {
  cursor: not-allowed;
  width: 120px !important;
}