//BackEnd Materialize

//Color
@import "materialize/color-variables";
@import "materialize/color-classes";

//Variables;
@import "materialize/variables";

//Reset
@import "materialize/normalize";

//components
@import "materialize/global";

#acidcodes_shortcodes {
  //@import "materialize/badges";
  @import "materialize/icons-material-design";
  @import "materialize/grid";
  @import "materialize/navbar";
  @import "materialize/roboto";
  @import "materialize/typography";
  @import "materialize/transitions";
  @import "materialize/cards";
  @import "materialize/toast";
  @import "materialize/tabs";
  @import "materialize/tooltip";
  @import "materialize/buttons";
  @import "materialize/dropdown";
  @import "materialize/waves";
  @import "materialize/modal";
  @import "materialize/collapsible";
  @import "materialize/chips";
  @import "materialize/materialbox";
  //@import "materialize/forms/forms";
  //@import "materialize/table_of_contents";
  //@import "materialize/sidenav";
  //@import "materialize/preloader";
  @import "materialize/slider";
  @import "materialize/carousel";
  //@import "materialize/tapTarget";
  @import "materialize/pulse";
}