select{
  display: inline;
  position: absolute;
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0);
  height: 0px;
  width: 0px;
  top: 2em;
  left: 3em;
  opacity: 0;
  pointer-events: none;
}

.hack {
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 0px !important;
  line-height: 0;
  display: -webkit-box;
}
.row .col {
  @include padding(0);
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
}