//select{
//  display: inline;
//  position: absolute;
//  float: left;
//  padding: 0px;
//  margin: 0px;
//  border: 1px solid rgba(255, 255, 255, 0);
//  height: 0px;
//  width: 0px;
//  top: 2em;
//  left: 3em;
//  opacity: 0;
//  pointer-events: none;
//}

//.acidcode__select-hidden {
//  opacity: 0;
//  height: 0 !important;
//  margin: 0 !important;
//  padding: 0 !important;
//  border: none !important;
//  font-size: 0px !important;
//  line-height: 0;
//  display: -webkit-box;
//}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.material-tooltip .backdrop {
  background-color: transparent;
  color: #000;
}
.material-tooltip {
  background-color: transparent;
  color: #000;
}
.text-tooltip{
  background:#e6e6e6;
  color:#716e6e;
}

input#acidcode__search-id {
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: -5px;
  text-indent: 30px;
}

.hidden {
  display: none !important;
}
input.valid[type=text]:not(.browser-default),input.valid[type=url]:not(.browser-default){
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}
.special-margin--bottom {
  margin-bottom: 20px !important;
}