.entry-content a.acidcode__btn, .c-page__content a.acidcode__btn {
  width: max-content;
  box-shadow: none;
  background-color: #C9E967;
  color: #484C5D;
  z-index: 1;
}
.entry-content a.acidcode__btn:hover, .c-page__content a.acidcode__btn:hover {
  box-shadow: none;
  color: #fff;
  background-color: #484C5D;
}
.entry-content a.acidcode__btn--size-small, .c-page__content a.acidcode__btn--size-small {
  @extend .font-style;
}
.entry-content a.acidcode__btn--size-medium, .c-page__content a.acidcode__btn--size-medium {
  @include font-source-roboto(14px, 43px, 43px, .5px);
  @include padding(0 20px);
}

.entry-content a.acidcode__btn--size-large, .c-page__content a.acidcode__btn--size-large {
  @extend .font-style;
}

.entry-content a.acidcode__btn--size-huge, .c-page__content a.acidcode__btn--size-huge {
  @include font-source-roboto(20px, 70px, 70px, .5px);
  @include padding(0 35px);
}

.entry-content a.acidcode__btn--shape-square, .c-page__content a.acidcode__btn--shape-square {
  @include border-radius(0px);
}

.entry-content a.acidcode__btn--shape-rounded, .c-page__content a.acidcode__btn--shape-rounded {
  @include border-radius(5px);
}

.entry-content a.acidcode__btn--shape-pill, .c-page__content a.acidcode__btn--shape-pill {
@include border-radius(16px);
}

.entry-content a.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--shape-outline {
  border: 2px solid $accent-color;
  background-color: #fff;
  color: $accent-color;
  &:hover {
    background-color: $accent-color;
    color: #fff;
    box-shadow: none;
  }
}


.entry-content a.acidcode__btn--alignment-center, .c-page__content a.acidcode__btn--alignment-center {
  @include margin(0 auto);
  display: flex;
  clear: both;
}
.entry-content a.acidcode__btn--alignment-left, .c-page__content a.acidcode__btn--alignment-left {
  float: left;
}
.entry-content a.acidcode__btn--alignment-right, .c-page__content a.acidcode__btn--alignment-right {
  float: right;
}
