svg.acidcode__icon--type-circle {
  @extend .icon-height;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 160px;
  width: 2em !important;
}
.acidcode__icon--type-rectangle {
  @extend .icon-height;
  background: rgba(0, 0, 0, 0.2);
  width: 2em !important;
}

svg.acidcode__icon--color{
  &-red {
    color: color("red", "base");
  }
  &-pink {
    color: color("pink", "base");
  }
  &-purple {
    color: color("purple", "base");
  }
  &-deep-purple {
    color: color("deep-purple", "base");
  }
  &-indigo {
    color: color("indigo", "base");
  }
  &-blue {
    color: color("blue", "base");
  }
  &-light-blue {
    color: color("light-blue", "base");
  }
  &-cyan {
    color: color("cyan", "base") ;
  }
  &-teal {
    color: color("teal", "base");
  }
  &-green {
    color: color("green", "base");
  }
  &-light-green {
    color: color("light-green", "base");
  }
  &-lime {
    color: color("lime", "base");
  }
  &-yellow {
    color: color("yellow", "base");
  }
  &-amber {
    color: color("amber", "base") ;
  }
  &-orange {
    color: color("orange", "base") ;
  }
  &-deep-orange {
    color: color("deep-orange", "base");
  }
  &-brown {
    color: color("brown", "base");
  }
  &-gray {
    color: color("grey", "base")
  }
  &-blue-gray {
    color: color("blue-grey", "base");
  }
  &-black {
    color: #000000;
  }
  &-white {
    color: #ffffff;
  }
}