svg.acidcode__icon--type-circle {
  @extend .icon-height;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 160px;
  width: 2em !important;
}
.acidcode__icon--type-rectangle {
  @extend .icon-height;
  background: rgba(0, 0, 0, 0.2);
  width: 2em !important;
}

svg.acidcode__icon--color{
  &-red {
    color: #f44336;
  }
  &-pink {
    color: #e91e63;
  }
  &-purple {
    color: #9c27b0;
  }
  &-deep-purple {
    color: #673ab7;
  }
  &-indigo {
    color: #3f51b5;
  }
  &-blue {
    color: #2196f3;
  }
  &-light-blue {
    color: #03a9f4;
  }
  &-cyan {
    color: #00bcd4 ;
  }
  &-teal {
    color: #009688;
  }
  &-green {
    color: #4caf50;
  }
  &-light-green {
    color: #8bc34a;
  }
  &-lime {
    color: #cddc39;
  }
  &-yellow {
    color: #ffeb3b;
  }
  &-amber {
    color: #ffc107 ;
  }
  &-orange {
    color: #ff9800 ;
  }
  &-deep-orange {
    color: #ff5722;
  }
  &-brown {
    color: #795548;
  }
  &-gray {
    color: #9e9e9e;
  }
  &-blue-gray {
    color: #607d8b;
  }
  &-black {
    color: #000000;
  }
  &-white {
    color: #ffffff;
  }
}