.acidcode__progress {
  background-color: $rectangle-hover;
  height: 11px;
  .acidcode__progress-determinate {
    height: 11px;
    background-color: #05af5c;
  }
}
.acidcode__markers-on {
  position: absolute;
  top: -3px;
  right: -35px;
  color: #242423;
  font-size: 12px;
}

.acidcode__markers-off {
  display: none;
}