.progress.acidcode__progress {
  height: 11px;
  .acidcode__progress-determinate {
    height: 11px;
  }
}
.acidcode__markers-on {
  position: absolute;
  top: -8px;
  right: -35px;
  color: #242423;
  font-size: 12px;
  font-weight: bold;
}

.acidcode__markers-off {
  display: none;
}