.acidcode__separator {
  background-color: transparent;
  @include border-width(1px);
  @include border-color(black);
  @include border-style(solid);
}
.acidcode__separator--align-center {
  @extend .align-center;
}
.acidcode__separator--align-left {
  @extend .align-left;
}
.acidcode__separator--align-right {
  @extend .align-right;
}
.acidcode__separator--weight-thin {
  @include border-width(1px);
}
.acidcode__separator--weight-thick {
  @include border-width(5px);
}
.acidcode__separator--color-light {
  @include border-color(lightgray);
}
.acidcode__separator--color-red {
  @include border-color(red);
}
.acidcode__separator--color-yellow {
  @include border-color(yellow);
}
.acidcode__separator--color-orange {
  @include border-color(orange);
}
.acidcode__separator--color-purple {
  @include border-color(purple);
}
.acidcode__separator--color-green {
  @include border-color(green);
}
.acidcode__separator--color-teal {
  @include border-color(gray);
}
.acidcode__separator--style-regular {
  @include border-style(solid);
}
.acidcode__separator--style-double {
  @include border-style(double);
}
.acidcode__separator--style-dotted {
  @include border-style(dotted);
}
.acidcode__separator--style-striped {
  background-image: url("../../images/separator.png");
  height: 0.5rem;
}

.acidcode__separator--weight-thin.acidcode__separator--style-double {
  border-bottom-width: 3px;
}