// Extends, Functions

//Font
$accent-color: #C9E967;
$rectangle-hover: #69F0AE;

.font-style {
  font-weight: 300;
}

/* Functions */
@mixin padding($values...) {
  @each $var in $values {
    padding: #{$var};
  }
}
@mixin margin($values...) {
  @each $var in $values {
    margin: #{$var};
  }
}
@mixin margin-direction($property, $direction: false) {
  @if $direction { margin-#{$direction}: $property; }
  @else { margin: $property; }
}
@mixin float($float) {
  float: $float;
}
@mixin font-size($size) {
  font-size: $size;
}

@mixin font-source-roboto($size: false, $height: false,  $lh: false, $ls: false) {
  font-weight: 300;
  @if $size { font-size: $size; }
  @if $height { height: $height; }
  @if $lh { line-height: $lh; }
  @if $ls { letter-spacing: $ls; }
}
//@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
//  @if $inset {
//    -webkit-box-shadow:inset $top $left $blur $color;
//    -moz-box-shadow:inset $top $left $blur $color;
//    box-shadow:inset $top $left $blur $color;
//  } @else {
//    -webkit-box-shadow: $top $left $blur $color;
//    -moz-box-shadow: $top $left $blur $color;
//    box-shadow: $top $left $blur $color;
//  }
//}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* Button section */
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

/* Separator section */
@mixin border-width($width) {
  border-bottom-width: $width;
}
@mixin border-color($color) {
  border-bottom-color: $color;
}
@mixin border-style($style) {
  border-bottom-style: $style;
}

/* Icon section */
.icon-height {
  height: 2em;
}

/* Quote Section */
.blockquote-general {
  content: "\201C";
  font-family: sans-serif;
  display: block;
  @include float(left);
  color: $theia-color;
  @include margin(-1rem 30px 0px 0px);
}

.theia-color-text {
  color: $theia-color;
}
