/* Functions */
/* Button section */
.align-center {
  text-align: center; }

.align-left, .acidcode__team-member--name {
  text-align: left; }

.align-right {
  text-align: right; }

/* Separator section */
/* Icon section */
.icon-height, svg.acidcode__icon--type-circle, .acidcode__icon--type-rectangle {
  height: 2em; }

/* Quote Section */
.blockquote-general, .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-regular:before, .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-small:before, .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-medium:before, .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-big:before {
  content: "\201C";
  font-family: sans-serif;
  display: block;
  float: left;
  color: #C9E967;
  margin: -1rem 30px 0px 0px; }

.theia-color-text {
  color: #C9E967; }

.entry-content a.acidcode__btn, .c-page__content a.acidcode__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  box-shadow: none;
  background-color: #C9E967;
  color: #fff;
  z-index: 1; }
  .entry-content a.acidcode__btn.theia-color-text, .c-page__content a.acidcode__btn.theia-color-text {
    color: #C9E967; }

.entry-content a.acidcode__btn:hover, .c-page__content a.acidcode__btn:hover {
  box-shadow: none;
  color: #fff;
  background-color: #484C5D; }

.entry-content a.acidcode__btn--size-small.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--size-small.acidcode__btn--shape-outline {
  line-height: 28.4px; }

.entry-content a.acidcode__btn--size-medium, .c-page__content a.acidcode__btn--size-medium {
  font-size: 14px;
  height: 43px;
  line-height: 43px;
  letter-spacing: 0.5px;
  padding: 0 20px; }
  .entry-content a.acidcode__btn--size-medium.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--size-medium.acidcode__btn--shape-outline {
    line-height: 39px; }

.entry-content a.acidcode__btn--size-large.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--size-large.acidcode__btn--shape-outline {
  line-height: 50px; }

.entry-content a.acidcode__btn--size-huge, .c-page__content a.acidcode__btn--size-huge {
  font-size: 20px;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.5px;
  padding: 0 35px; }
  .entry-content a.acidcode__btn--size-huge.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--size-huge.acidcode__btn--shape-outline {
    line-height: 66px; }

.entry-content a.acidcode__btn--shape-square, .c-page__content a.acidcode__btn--shape-square {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px; }

.entry-content a.acidcode__btn--shape-rounded, .c-page__content a.acidcode__btn--shape-rounded {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.entry-content a.acidcode__btn--shape-pill, .c-page__content a.acidcode__btn--shape-pill {
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px; }

.entry-content a.acidcode__btn--alignment-center, .c-page__content a.acidcode__btn--alignment-center {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  clear: both; }

.entry-content a.acidcode__btn--alignment-left, .c-page__content a.acidcode__btn--alignment-left {
  float: left; }

.entry-content a.acidcode__btn--alignment-right, .c-page__content a.acidcode__btn--alignment-right {
  float: right; }

.entry-content a.acidcode__btn--shape-outline, .c-page__content a.acidcode__btn--shape-outline {
  border: 2px solid #C9E967;
  background-color: #fff;
  color: #C9E967; }
  .entry-content a.acidcode__btn--shape-outline:hover, .c-page__content a.acidcode__btn--shape-outline:hover {
    background-color: #C9E967;
    color: #fff;
    box-shadow: none; }
  .entry-content a.acidcode__btn--shape-outline.red, .c-page__content a.acidcode__btn--shape-outline.red {
    background-color: #fff !important;
    border-color: #F44336; }
  .entry-content a.acidcode__btn--shape-outline.pink, .c-page__content a.acidcode__btn--shape-outline.pink {
    background-color: #fff !important;
    border-color: #e91e63; }
  .entry-content a.acidcode__btn--shape-outline.purple, .c-page__content a.acidcode__btn--shape-outline.purple {
    background-color: #fff !important;
    border-color: #9c27b0; }
  .entry-content a.acidcode__btn--shape-outline.deep-purple, .c-page__content a.acidcode__btn--shape-outline.deep-purple {
    background-color: #fff !important;
    border-color: #673ab7; }
  .entry-content a.acidcode__btn--shape-outline.indigo, .c-page__content a.acidcode__btn--shape-outline.indigo {
    background-color: #fff !important;
    border-color: #3f51b5; }
  .entry-content a.acidcode__btn--shape-outline.blue, .c-page__content a.acidcode__btn--shape-outline.blue {
    background-color: #fff !important;
    border-color: #2196F3; }
  .entry-content a.acidcode__btn--shape-outline.light-blue, .c-page__content a.acidcode__btn--shape-outline.light-blue {
    background-color: #fff !important;
    border-color: #03a9f4; }
  .entry-content a.acidcode__btn--shape-outline.cyan, .c-page__content a.acidcode__btn--shape-outline.cyan {
    background-color: #fff !important;
    border-color: #00bcd4; }
  .entry-content a.acidcode__btn--shape-outline.teal, .c-page__content a.acidcode__btn--shape-outline.teal {
    background-color: #fff !important;
    border-color: #009688; }
  .entry-content a.acidcode__btn--shape-outline.green, .c-page__content a.acidcode__btn--shape-outline.green {
    background-color: #fff !important;
    border-color: #4CAF50; }
  .entry-content a.acidcode__btn--shape-outline.light-green, .c-page__content a.acidcode__btn--shape-outline.light-green {
    background-color: #fff !important;
    border-color: #8bc34a; }
  .entry-content a.acidcode__btn--shape-outline.lime, .c-page__content a.acidcode__btn--shape-outline.lime {
    background-color: #fff !important;
    border-color: #cddc39; }
  .entry-content a.acidcode__btn--shape-outline.yellow, .c-page__content a.acidcode__btn--shape-outline.yellow {
    background-color: #fff !important;
    border-color: #ffeb3b; }
  .entry-content a.acidcode__btn--shape-outline.amber, .c-page__content a.acidcode__btn--shape-outline.amber {
    background-color: #fff !important;
    border-color: #ffc107; }
  .entry-content a.acidcode__btn--shape-outline.orange, .c-page__content a.acidcode__btn--shape-outline.orange {
    background-color: #fff !important;
    border-color: #ff9800; }
  .entry-content a.acidcode__btn--shape-outline.deep-orange, .c-page__content a.acidcode__btn--shape-outline.deep-orange {
    background-color: #fff !important;
    border-color: #ff5722; }
  .entry-content a.acidcode__btn--shape-outline.brown, .c-page__content a.acidcode__btn--shape-outline.brown {
    background-color: #fff !important;
    border-color: #795548; }
  .entry-content a.acidcode__btn--shape-outline.gray, .c-page__content a.acidcode__btn--shape-outline.gray {
    background-color: #fff !important;
    border-color: #9e9e9e; }
  .entry-content a.acidcode__btn--shape-outline.blue-gray, .c-page__content a.acidcode__btn--shape-outline.blue-gray {
    background-color: #fff !important;
    border-color: #607d8b; }
  .entry-content a.acidcode__btn--shape-outline.black, .c-page__content a.acidcode__btn--shape-outline.black {
    background-color: #fff !important;
    border-color: #000000; }
  .entry-content a.acidcode__btn--shape-outline.white, .c-page__content a.acidcode__btn--shape-outline.white {
    background-color: #fff !important;
    border-color: #ffffff; }

.entry-content a.acidcode__btn--hover-red:hover, .c-page__content a.acidcode__btn--hover-red:hover {
  background-color: #F44336 !important; }

.entry-content a.acidcode__btn--hover-pink:hover, .c-page__content a.acidcode__btn--hover-pink:hover {
  background-color: #e91e63 !important; }

.entry-content a.acidcode__btn--hover-purple:hover, .c-page__content a.acidcode__btn--hover-purple:hover {
  background-color: #9c27b0 !important; }

.entry-content a.acidcode__btn--hover-deep-purple:hover, .c-page__content a.acidcode__btn--hover-deep-purple:hover {
  background-color: #673ab7 !important; }

.entry-content a.acidcode__btn--hover-indigo:hover, .c-page__content a.acidcode__btn--hover-indigo:hover {
  background-color: #3f51b5 !important; }

.entry-content a.acidcode__btn--hover-blue:hover, .c-page__content a.acidcode__btn--hover-blue:hover {
  background-color: #2196F3 !important; }

.entry-content a.acidcode__btn--hover-light-blue:hover, .c-page__content a.acidcode__btn--hover-light-blue:hover {
  background-color: #03a9f4 !important; }

.entry-content a.acidcode__btn--hover-cyan:hover, .c-page__content a.acidcode__btn--hover-cyan:hover {
  background-color: #00bcd4 !important; }

.entry-content a.acidcode__btn--hover-teal:hover, .c-page__content a.acidcode__btn--hover-teal:hover {
  background-color: #009688 !important; }

.entry-content a.acidcode__btn--hover-green:hover, .c-page__content a.acidcode__btn--hover-green:hover {
  background-color: #4CAF50 !important; }

.entry-content a.acidcode__btn--hover-light-green:hover, .c-page__content a.acidcode__btn--hover-light-green:hover {
  background-color: #8bc34a !important; }

.entry-content a.acidcode__btn--hover-lime:hover, .c-page__content a.acidcode__btn--hover-lime:hover {
  background-color: #cddc39 !important; }

.entry-content a.acidcode__btn--hover-yellow:hover, .c-page__content a.acidcode__btn--hover-yellow:hover {
  background-color: #ffeb3b !important; }

.entry-content a.acidcode__btn--hover-amber:hover, .c-page__content a.acidcode__btn--hover-amber:hover {
  background-color: #ffc107 !important; }

.entry-content a.acidcode__btn--hover-orange:hover, .c-page__content a.acidcode__btn--hover-orange:hover {
  background-color: #ff9800 !important; }

.entry-content a.acidcode__btn--hover-deep-orange:hover, .c-page__content a.acidcode__btn--hover-deep-orange:hover {
  background-color: #ff5722 !important; }

.entry-content a.acidcode__btn--hover-brown:hover, .c-page__content a.acidcode__btn--hover-brown:hover {
  background-color: #795548 !important; }

.entry-content a.acidcode__btn--hover-gray:hover, .c-page__content a.acidcode__btn--hover-gray:hover {
  background-color: #9e9e9e !important; }

.entry-content a.acidcode__btn--hover-blue-gray:hover, .c-page__content a.acidcode__btn--hover-blue-gray:hover {
  background-color: #607d8b !important; }

.entry-content a.acidcode__btn--hover-black:hover, .c-page__content a.acidcode__btn--hover-black:hover {
  background-color: #000000 !important; }

.entry-content a.acidcode__btn--hover-white:hover, .c-page__content a.acidcode__btn--hover-white:hover {
  background-color: #ffffff !important; }

.entry-content a.acidcode__btn--shape-outline:hover, .c-page__content a.acidcode__btn--shape-outline:hover {
  color: #fff !important; }

svg.acidcode__icon--type-circle {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 160px;
  width: 2em !important; }

.acidcode__icon--type-rectangle {
  background: rgba(0, 0, 0, 0.2);
  width: 2em !important; }

svg.acidcode__icon--color-red {
  color: #F44336; }

svg.acidcode__icon--color-pink {
  color: #e91e63; }

svg.acidcode__icon--color-purple {
  color: #9c27b0; }

svg.acidcode__icon--color-deep-purple {
  color: #673ab7; }

svg.acidcode__icon--color-indigo {
  color: #3f51b5; }

svg.acidcode__icon--color-blue {
  color: #2196F3; }

svg.acidcode__icon--color-light-blue {
  color: #03a9f4; }

svg.acidcode__icon--color-cyan {
  color: #00bcd4; }

svg.acidcode__icon--color-teal {
  color: #009688; }

svg.acidcode__icon--color-green {
  color: #4CAF50; }

svg.acidcode__icon--color-light-green {
  color: #8bc34a; }

svg.acidcode__icon--color-lime {
  color: #cddc39; }

svg.acidcode__icon--color-yellow {
  color: #ffeb3b; }

svg.acidcode__icon--color-amber {
  color: #ffc107; }

svg.acidcode__icon--color-orange {
  color: #ff9800; }

svg.acidcode__icon--color-deep-orange {
  color: #ff5722; }

svg.acidcode__icon--color-brown {
  color: #795548; }

svg.acidcode__icon--color-gray {
  color: #9e9e9e; }

svg.acidcode__icon--color-blue-gray {
  color: #607d8b; }

svg.acidcode__icon--color-black {
  color: #000000; }

svg.acidcode__icon--color-white {
  color: #ffffff; }

.acidcode__separator {
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-top: none; }

.acidcode__separator--align-center {
  margin-right: auto;
  margin-left: auto; }

.acidcode__separator--align-left {
  float: left; }

.acidcode__separator--align-right {
  float: right; }

.acidcode__separator--weight-thin {
  border-bottom-width: 1px; }

.acidcode__separator--weight-thick {
  border-bottom-width: 5px; }

.acidcode__separator--color-theia-color {
  border-bottom-color: #C9E967; }

.acidcode__separator--color-red {
  border-bottom-color: #F44336; }

.acidcode__separator--color-pink {
  border-bottom-color: #e91e63; }

.acidcode__separator--color-purple {
  border-bottom-color: #9c27b0; }

.acidcode__separator--color-deep-purple {
  border-bottom-color: #673ab7; }

.acidcode__separator--color-indigo {
  border-bottom-color: #3f51b5; }

.acidcode__separator--color-blue {
  border-bottom-color: #2196F3; }

.acidcode__separator--color-light-blue {
  border-bottom-color: #03a9f4; }

.acidcode__separator--color-cyan {
  border-bottom-color: #00bcd4; }

.acidcode__separator--color-teal {
  border-bottom-color: #009688; }

.acidcode__separator--color-green {
  border-bottom-color: #4CAF50; }

.acidcode__separator--color-light-green {
  border-bottom-color: #8bc34a; }

.acidcode__separator--color-lime {
  border-bottom-color: #cddc39; }

.acidcode__separator--color-yellow {
  border-bottom-color: #ffeb3b; }

.acidcode__separator--color-amber {
  border-bottom-color: #ffc107; }

.acidcode__separator--color-orange {
  border-bottom-color: #ff9800; }

.acidcode__separator--color-deep-orange {
  border-bottom-color: #ff5722; }

.acidcode__separator--color-brown {
  border-bottom-color: #795548; }

.acidcode__separator--color-gray {
  border-bottom-color: #9e9e9e; }

.acidcode__separator--color-blue-gray {
  border-bottom-color: #607d8b; }

.acidcode__separator--color-black {
  border-bottom-color: #000000; }

.acidcode__separator--color-white {
  border-bottom-color: #ffffff; }

.acidcode__separator--style-regular {
  border-bottom-style: solid; }

.acidcode__separator--style-double {
  border-bottom-style: double; }

.acidcode__separator--style-dotted {
  border-bottom-style: dotted; }

.acidcode__separator--style-striped {
  background-image: url("../../images/separator.png");
  height: 0.5rem; }

.acidcode__separator--weight-thin.acidcode__separator--style-double {
  border-bottom-width: 3px; }

.carousel .acidcode__carousel-item {
  box-shadow: none;
  visibility: visible; }
  .carousel .acidcode__carousel-item:hover {
    box-shadow: none; }
  .carousel .acidcode__carousel-item .acidcode__carousel-img {
    box-shadow: none; }

.acidcode__carousel .middle-indicator-text {
  box-shadow: none; }
  .acidcode__carousel .middle-indicator-text:hover {
    box-shadow: none; }
  .acidcode__carousel .middle-indicator-text:focus {
    box-shadow: none;
    outline: none; }

.carousel-fixed-item {
  position: absolute;
  top: 50%; }

.middle-indicator-text {
  font-size: 4.2rem; }

a.middle-indicator-text {
  padding: 20px;
  color: white !important; }

.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px; }

.acidcode__team-member--social-link {
  display: inline-block; }
  .acidcode__team-member--social-link__link {
    padding: 0 35px 0 0;
    box-shadow: none !important; }

.acidcode__team-member--name {
  margin: 25px 0 15px 0;
  font-size: 14px; }

.acidcode__team-member--position {
  margin: 0 0 10px 0; }

.acidcode__team-member--description {
  margin: 0 0 20px 0; }

.progress.acidcode__progress {
  height: 11px; }
  .progress.acidcode__progress .acidcode__progress-determinate {
    height: 11px; }
    .progress.acidcode__progress .acidcode__progress-determinate.theia-color {
      background-color: #C9E967; }
  .progress.acidcode__progress.theia-color {
    background-color: #e5efca; }

.acidcode__markers-on {
  position: absolute;
  top: -8px;
  right: -35px;
  color: #242423;
  font-size: 12px;
  font-weight: bold; }

.acidcode__markers-off {
  display: none; }

.acidcode__quote.acidcode__quote--type-quote {
  border: none; }
  .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-regular {
    font-size: 16px; }
    .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-regular:before {
      font-size: 90px;
      line-height: 1.1; }
  .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-small {
    font-size: 14px; }
    .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-small:before {
      font-size: 70px;
      line-height: 1.2; }
  .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-medium {
    font-size: 18px; }
    .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-medium:before {
      line-height: 1.05;
      font-size: 110px;
      margin-bottom: 60px; }
  .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-big {
    font-size: 20px; }
    .acidcode__quote.acidcode__quote--type-quote.acidcode__quote--size-big:before {
      font-size: 130px;
      line-height: 1;
      margin-bottom: 60px; }
  .acidcode__quote.acidcode__quote--type-quote .acidcode__quote-content {
    margin: 0px 0px 20px 0px; }
  .acidcode__quote.acidcode__quote--type-quote .acidcode__quote-author-name {
    text-transform: uppercase; }

.acidcode__quote.acidcode__quote--type-blockquote {
  border-left: 5px solid #c9e967; }
  .acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--size-regular {
    font-size: 16px; }
  .acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--size-small {
    font-size: 14px; }
  .acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--size-medium {
    font-size: 18px; }
  .acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--size-big {
    font-size: 20px; }
  .acidcode__quote.acidcode__quote--type-blockquote .acidcode__quote-content {
    margin: 0px 0px 20px 15px; }
  .acidcode__quote.acidcode__quote--type-blockquote .acidcode__quote-author-name {
    text-transform: uppercase;
    margin: 0px 0px 0px 15px; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-red:before {
  color: #F44336; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-pink:before {
  color: #e91e63; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-purple:before {
  color: #9c27b0; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-deep-purple:before {
  color: #673ab7; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-indigo:before {
  color: #3f51b5; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-blue:before {
  color: #2196F3; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-light-blue:before {
  color: #03a9f4; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-cyan:before {
  color: #00bcd4; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-teal:before {
  color: #009688; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-green:before {
  color: #4CAF50; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-light-green:before {
  color: #8bc34a; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-lime:before {
  color: #cddc39; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-yellow:before {
  color: #ffeb3b; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-amber:before {
  color: #ffc107; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-orange:before {
  color: #ff9800; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-deep-orange:before {
  color: #ff5722; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-brown:before {
  color: #795548; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-gray:before {
  color: #9e9e9e; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-blue-gray:before {
  color: #607d8b; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-black:before {
  color: #000000; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-white:before {
  color: #ffffff; }

.acidcode__quote.acidcode__quote--type-quote.acidcode__quote--color-theia-color {
  color: #C9E967; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-red {
  border-left-color: #F44336; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-pink {
  border-left-color: #e91e63; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-purple {
  border-left-color: #9c27b0; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-deep-purple {
  border-left-color: #673ab7; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-indigo {
  border-left-color: #3f51b5; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-blue {
  border-left-color: #2196F3; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-light-blue {
  border-left-color: #03a9f4; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-cyan {
  border-left-color: #00bcd4; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-teal {
  border-left-color: #009688; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-green {
  border-left-color: #4CAF50; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-light-green {
  border-left-color: #8bc34a; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-lime {
  border-left-color: #cddc39; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-yellow {
  border-left-color: #ffeb3b; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-amber {
  border-left-color: #ffc107; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-orange {
  border-left-color: #ff9800; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-deep-orange {
  border-left-color: #ff5722; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-brown {
  border-left-color: #795548; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-gray {
  border-left-color: #9e9e9e; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-blue-gray {
  border-left-color: #607d8b; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-black {
  border-left-color: #000000; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-white {
  border-left-color: #ffffff; }

.acidcode__quote.acidcode__quote--type-blockquote.acidcode__quote--color-theia-color {
  border-left-color: #C9E967; }

.acidcode__heading-subtitle {
  font-style: italic;
  margin-bottom: 0; }

.acidcode__heading-title {
  padding-top: 0; }

.acidcode__heading--alignment-left {
  float: left;
  text-align: center; }

.acidcode__heading--alignment-center {
  text-align: center; }

.acidcode__heading--alignment-right {
  float: right;
  text-align: center; }

.acidcode__heading .theia-color-text {
  color: #C9E967; }

/*# sourceMappingURL=components.css.map */
