#acidcodes_shortcodes_modal h1, #acidcodes_shortcodes_modal h2, #acidcodes_shortcodes_modal h3, #acidcodes_shortcodes_modal h4, #acidcodes_shortcodes_modal h5, #acidcodes_shortcodes_modal h6, #acidcodes_shortcodes_modal p, #acidcodes_shortcodes_modal span {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

/* Functions */
#acidcodes_shortcodes_modal .l_modal_header:after, #acidcodes_shortcodes_modal .l_modal_body:after, #acidcodes_shortcodes_modal .l_modal_footer:after {
  content: "";
  display: table;
  clear: both; }

#acidcodes_shortcodes_modal.l_acid_modal {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #424242;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); }

#acidcodes_shortcodes_modal.reveal-modal {
  overflow: hidden;
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin: 0 0 0 -300px;
  width: 580px;
  background: #ffffff;
  position: absolute;
  z-index: 160005; }
  #acidcodes_shortcodes_modal.reveal-modal #acidcodes_shortcodes {
    overflow: visible; }

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 160001;
  top: 0;
  left: 0; }

.mce-acidcodes_shortcodes button {
  background: url(../images/acid-icon.png) 3px 3px no-repeat !important; }

.mce-acidcodes_shortcodes button:hover {
  background: url(../images/acid-icon.png) 3px -27px no-repeat !important; }

.none, #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back, #acidcodes_shortcodes_modal .acidcode__btn.close, #acidcodes_shortcodes_modal .acidcode__btn.cancel, #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled, #acidcodes_shortcodes_modal .acidcode__btn.btn_settings {
  background: none !important;
  border: none;
  box-shadow: none; }

li.icon svg, li.icon.active svg {
  margin: 0 auto;
  display: block; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content {
  transition: all 0.3s; }

#acidcodes_shortcodes_modal i {
  font-size: 14px; }

#acidcodes_shortcodes_modal .acidcode__btn {
  cursor: pointer;
  display: inline-block; }

#acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back {
  padding: 10px;
  line-height: 15px;
  visibility: hidden; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back svg {
    margin-right: 0px;
    color: #ffffff; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back span {
    transition: all 0.1s ease-in;
    opacity: 0;
    float: right;
    margin: 0 0 0 5px;
    color: #ffffff;
    line-height: 1.1; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back.active {
    visibility: visible;
    color: #ffffff; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back:hover i {
    margin: 0 5px 0 0; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back:hover span {
    opacity: 1; }

#acidcodes_shortcodes_modal .acidcode__btn.close {
  padding: 10px 15px;
  float: right;
  color: #ffffff;
  opacity: 1; }
  #acidcodes_shortcodes_modal .acidcode__btn.close svg {
    float: right;
    margin: 0; }

#acidcodes_shortcodes_modal .acidcode__btn.cancel {
  float: left;
  margin: 0 20px; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_primary {
  background: #00E676;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border: none;
  padding: 0 35px 0 35px; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_primary:hover {
    background: #00E676;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    color: #ffffff; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled {
    cursor: not-allowed; }
    #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled svg {
      margin: 0 0 0 10px;
      position: relative;
      left: 20px; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_settings {
  cursor: pointer;
  color: #9b9b9b; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_settings:hover {
    color: #3f4345; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_settings svg {
    left: 0;
    color: #9b9b9b;
    margin: 0 7px 0 0; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_secondary {
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #9b9b9b;
  letter-spacing: 0.2px;
  text-decoration: underline; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_secondary:hover {
    color: #3f4345; }

#acidcodes_shortcodes_modal .input-field {
  margin-bottom: 0; }
  #acidcodes_shortcodes_modal .input-field.col label {
    left: 0; }

#acidcodes_shortcodes_modal .select-wrapper input.select-dropdown {
  margin: 0; }

#acidcodes_shortcodes_modal input[type=range]::-webkit-slider-thumb, #acidcodes_shortcodes_modal ::-moz-range-thumb, #acidcodes_shortcodes_modal ::-ms-thumb, #acidcodes_shortcodes_modal + .thumb {
  background-color: #69F0AE; }

#acidcodes_shortcodes_modal .hide-list .dropdown-content li:nth-child(1) {
  display: none; }

#acidcodes_shortcodes_modal .dropdown-content li > a {
  color: #000000; }

#acidcodes_shortcodes_modal .dropdown-content li > span {
  color: #000000; }
  #acidcodes_shortcodes_modal .dropdown-content li > span:hover {
    color: #ffffff;
    background-color: #69F0AE; }

#acidcodes_shortcodes_modal .dropdown-content li.active > span {
  color: #ffffff;
  background-color: #00E676; }

ul.dropdown-content.select-dropdown::-webkit-scrollbar {
  width: 1em;
  -webkit-transition: all 1s linear; }

ul.dropdown-content.select-dropdown::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); }

ul.dropdown-content.select-dropdown::-webkit-scrollbar-thumb {
  background-color: #00E676;
  outline: 1px solid slategrey; }

span.social-media {
  margin: 20px 0 20px; }
  span.social-media label {
    font-size: 1rem; }

span.acidcode__quote-margin {
  margin-top: 15px; }

.acidcode__newtab {
  margin-left: 0 !important; }

.row .col.s6.markers {
  margin-left: 0; }

.align-clear {
  clear: both; }

.acid_media_uploader {
  margin-bottom: 10px; }

.input-field.col.s12 {
  margin-top: 0;
  padding-left: 0;
  margin-right: 30px; }
  .input-field.col.s12.fourth-child {
    margin-top: -80px !important; }

textarea.acidcode__textarea.error {
  margin: 0; }

li.icon {
  cursor: pointer; }
  li.icon svg {
    padding: 0 2px; }
  li.icon.active {
    background-color: #69F0AE; }
    li.icon.active svg {
      color: #ffffff;
      padding: 5px;
      transition: padding 0.5s; }
  li.icon:hover {
    background: #00E676;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s; }
    li.icon:hover svg {
      color: #fff;
      z-index: 12; }

.acidcode__icon-link {
  margin-left: 0 !important; }

div.acid_icon_list {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
  height: 300px;
  position: relative;
  padding: 0 10px !important; }
  div.acid_icon_list .row > li {
    clear: none !important; }
    div.acid_icon_list .row > li svg {
      width: 0.75em !important; }
  div.acid_icon_list::-webkit-scrollbar {
    width: 1em; }
  div.acid_icon_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); }
  div.acid_icon_list::-webkit-scrollbar-thumb {
    background-color: #00E676;
    outline: 1px solid slategrey; }
  div.acid_icon_list label.error {
    left: 0px;
    position: absolute !important; }

.row .acidcode__list-icon {
  margin-right: 30px; }

.icon__special-title {
  margin-top: -20px;
  margin-bottom: 5px;
  font-weight: 500 !important;
  padding-left: 6px !important;
  font-size: 14px; }

.scroll-height .dropdown-content.select-dropdown {
  height: 150px; }

.scroll-height-button .dropdown-content.select-dropdown {
  height: 100px; }

.scroll-height-separator .dropdown-content.select-dropdown {
  height: 100px; }

.acidcode__waves-color {
  margin-bottom: 0 !important;
  transition: all 6s linear; }
  .acidcode__waves-color span.help-text {
    margin-bottom: 0 !important; }

.material-tooltip {
  z-index: 160006 !important; }

#acidcodes_shortcodes_form .media_image_holder {
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background: #ddd;
  border-radius: 10px;
  padding: 30px 20px;
  position: relative; }
  #acidcodes_shortcodes_form .media_image_holder .upload_preview {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    border-radius: 10px;
    height: 100%;
    width: 100%; }
  #acidcodes_shortcodes_form .media_image_holder:hover i.active {
    display: block; }
  #acidcodes_shortcodes_form .media_image_holder label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; }
  #acidcodes_shortcodes_form .media_image_holder.image__uploader--tm {
    padding: 73px 20px; }
  #acidcodes_shortcodes_form .media_image_holder.image__uploader--pr {
    padding: 35px 20px; }

#acidcodes_shortcodes_form textarea.materialize-textarea.acidcode__textarea {
  padding: 0.8rem 0 3rem 0; }

.acidcode__image-upload {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #ffffff;
  text-align: center; }

#TB_window {
  z-index: 1000500; }

#acidcodes_shortcodes_modal .l_modal_body ul, #acidcodes_shortcodes_modal .l_modal_body ul li {
  margin: 0;
  padding: 0;
  float: left; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover, #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover svg {
  color: #ffffff;
  transition: all 0.4s; }

#acidcodes_shortcodes_modal .l_modal_body {
  color: #424242; }

#acidcodes_shortcodes_modal .l_modal_body a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #424242;
  letter-spacing: 1.3px;
  text-decoration: none; }

#acidcodes_shortcodes_modal .l_modal_body .icon {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #00E676;
  display: block;
  margin: 0 auto 10px; }

#acidcodes_shortcodes_modal .l_modal_body ul {
  width: 100%;
  margin: 5px 0 0 0; }
  #acidcodes_shortcodes_modal .l_modal_body ul li {
    list-style: none; }
  #acidcodes_shortcodes_modal .l_modal_body ul > li {
    text-align: center;
    text-transform: capitalize; }

#acidcodes_shortcodes_modal .l_modal_body label {
  color: #424242;
  cursor: default; }
  #acidcodes_shortcodes_modal .l_modal_body label.active.error, #acidcodes_shortcodes_modal .l_modal_body label.error {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #bf291e;
    background: #fff;
    width: 100%; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col > li {
  width: 33%;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li:nth-last-of-type(-n+3) {
    border-bottom: none; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li:nth-child(3n) {
    border-right: none; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a {
    display: block;
    padding: 25px 25px; }
    #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover {
      cursor: pointer;
      background-color: #69F0AE; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li .details_content {
    display: none; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col .shortcode.shortcode_settings {
  display: none !important; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col .shortcode.shortcode_bar {
  border-bottom: none !important; }

#acidcodes_shortcodes_modal .l_modal_body .s6 {
  padding: 0 30px 25px 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.slider__fix-margin {
    padding: 0 35px 7px 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.range-field {
    padding: 0 35px 0 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.checkbox-special-margin {
    margin: 38px 0 0 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.second-child {
    -webkit-transform: translate(100%, -200%);
            transform: translate(100%, -200%); }
  #acidcodes_shortcodes_modal .l_modal_body .s6.third-child {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  #acidcodes_shortcodes_modal .l_modal_body .s6.third-child--parallax {
    margin-bottom: -80px; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.markers {
    margin: 0;
    padding-top: 15px; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.heading-align {
    margin: 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.tm-color {
    margin-left: 0; }
  #acidcodes_shortcodes_modal .l_modal_body .s6.acidcode__newtab {
    padding-top: 15px; }

#acidcodes_shortcodes_modal .l_modal_body span.pb__help-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #BDBDBD;
  line-height: 16px;
  display: block;
  margin: 20px 0 0 0; }

#acidcodes_shortcodes_modal .l_modal_body span.social-label {
  margin: 5px 0 20px; }

#acidcodes_shortcodes_modal .l_modal_body input[type=text]:not(.browser-default),
#acidcodes_shortcodes_modal .l_modal_body input[type=number]:not(.browser-default),
#acidcodes_shortcodes_modal .l_modal_body input[type=url]:not(.browser-default) {
  height: 2rem;
  margin: 0 0 5px 0; }

#acidcodes_shortcodes_modal .l_modal_body form {
  border: none; }

#acidcodes_shortcodes_modal .l_modal_body fieldset {
  border: none;
  padding: 0;
  margin: 0; }

#acidcodes_shortcodes_modal .l_modal_body .help-block {
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #bbbbbb; }

#acidcodes_shortcodes_modal .l_modal_body select:focus, #acidcodes_shortcodes_modal .l_modal_body textarea:focus, #acidcodes_shortcodes_modal .l_modal_body input:focus, #acidcodes_shortcodes_modal .l_modal_body .uneditable-input:focus {
  outline: 0; }

#acidcodes_shortcodes_modal .l_modal_body select {
  display: inline;
  position: absolute;
  float: left;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0);
  height: 0px;
  width: 0px;
  top: 2em;
  left: 3em;
  opacity: 0;
  pointer-events: none; }

#acidcodes_shortcodes_modal .l_modal_body .acidcode__select-hidden {
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 0px !important;
  line-height: 0; }

#acidcodes_shortcodes_modal .l_modal_body input[type="checkbox"],
#acidcodes_shortcodes_modal .l_modal_body input[type="radio"] {
  width: auto; }

#acidcodes_shortcodes_modal .l_modal_body [type="checkbox"]:checked + span:not(.lever):before {
  border-right-color: #69F0AE;
  border-bottom-color: #69F0AE; }

#acidcodes_shortcodes_modal .l_modal_body input[type=range] + .thumb {
  background-color: #00E676; }

#acidcodes_shortcodes_modal .l_modal_body input[type=range]::-webkit-slider-thumb {
  background-color: #00E676; }

#acidcodes_shortcodes_modal .l_modal_body select {
  height: 32px; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container {
  padding: 0px; }
  #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content {
    margin: 10px 0 0 0;
    height: 0;
    opacity: 0; }
    #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content button[type="submit"] {
      display: none; }
    #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content.active {
      margin: 0 0 0 0;
      height: auto;
      opacity: 1; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body > ul {
  height: auto;
  opacity: 1;
  margin: 0 0 10px 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline {
  margin: 20px 0 0 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline label {
  float: left;
  line-height: 31px;
  margin: 0 13px 0 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline input {
  width: auto; }

#acidcodes_shortcodes_modal.l_acid_modal.s_active .l_modal_body .details_container {
  display: block;
  padding: 25px 0 0px 30px; }

#acidcodes_shortcodes_modal.l_acid_modal.s_active .l_modal_body > ul {
  height: 0;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 0; }

#acidcodes_shortcodes_modal .row.flex-grid {
  margin-bottom: 0; }

#acidcodes_shortcodes_modal .l_modal_header {
  margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_header {
    background-color: #00E676;
    position: relative;
    border-bottom: 1px solid #E6E6E6; }
  #acidcodes_shortcodes_modal .l_modal_header .acidcode__btn--back, #acidcodes_shortcodes_modal .l_modal_header .close {
    box-shadow: none; }

.l_modal_title.col.s8 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  letter-spacing: 0.98px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0; }

#acidcodes_shortcodes_modal .l_modal_footer {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #dcdcdc;
  background-color: #E6E6E6;
  margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_footer * .row {
    margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_footer a {
    font-family: 'Roboto', sans-serif; }

.acidcode__span-or {
  font-family: 'Roboto', sans-serif;
  color: #bbbbbb;
  line-height: 35px; }

.acidcode__insert-button {
  cursor: not-allowed;
  width: 120px !important; }

/*# sourceMappingURL=modal.css.map */
