#acidcodes_shortcodes_modal h1, #acidcodes_shortcodes_modal h2, #acidcodes_shortcodes_modal h3, #acidcodes_shortcodes_modal h4, #acidcodes_shortcodes_modal h5, #acidcodes_shortcodes_modal h6, #acidcodes_shortcodes_modal p, #acidcodes_shortcodes_modal span {
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

/* Functions */
#acidcodes_shortcodes_modal .l_modal_header:after, #acidcodes_shortcodes_modal .l_modal_body:after, #acidcodes_shortcodes_modal .l_modal_footer:after {
  content: "";
  display: table;
  clear: both; }

#acidcodes_shortcodes_modal.l_acid_modal {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #424242;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8); }

#acidcodes_shortcodes_modal.reveal-modal {
  overflow: hidden;
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin: 0 0 0 -300px;
  width: 580px;
  background: #FFF;
  position: absolute;
  z-index: 160005; }
  #acidcodes_shortcodes_modal.reveal-modal #acidcodes_shortcodes {
    overflow: visible; }

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 160001;
  top: 0;
  left: 0; }

.mce-acidcodes_shortcodes button {
  background: url(assets/images/acid-icon.png) 3px 3px no-repeat !important; }

.mce-acidcodes_shortcodes button:hover {
  background: url(assets/images/acid-icon.png) 3px -27px no-repeat !important; }

.none, #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back, #acidcodes_shortcodes_modal .acidcode__btn.close, #acidcodes_shortcodes_modal .acidcode__btn.cancel, #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled, #acidcodes_shortcodes_modal .acidcode__btn.btn_settings {
  background: none !important;
  border: none;
  box-shadow: none; }

li.icon svg, li.icon.active svg {
  margin: 0 auto;
  display: block; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content {
  transition: all 0.3s; }

#acidcodes_shortcodes_modal i {
  font-size: 14px; }

#acidcodes_shortcodes_modal .acidcode__btn {
  cursor: pointer;
  display: inline-block; }

#acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back {
  padding: 10px;
  line-height: 15px;
  visibility: hidden; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back svg {
    margin-right: 0px;
    color: #FFF; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back span {
    transition: all 0.1s ease-in;
    opacity: 0;
    float: right;
    margin-left: 5px;
    color: #FFF;
    line-height: 1.1; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back.active {
    visibility: visible;
    color: #FFF; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back:hover i {
    margin-right: 5px; }
  #acidcodes_shortcodes_modal .acidcode__btn.acidcode__btn--back:hover span {
    opacity: 1; }

#acidcodes_shortcodes_modal .acidcode__btn.close {
  padding: 10px 15px;
  float: right;
  color: #FFF;
  opacity: 1; }
  #acidcodes_shortcodes_modal .acidcode__btn.close svg {
    float: right;
    margin: 0; }

#acidcodes_shortcodes_modal .acidcode__btn.cancel {
  color: #757575;
  float: left; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_primary {
  background: #00E676;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  border: none; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_primary:hover {
    background: #00E676;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    color: #FFF; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled {
    cursor: not-allowed; }
    #acidcodes_shortcodes_modal .acidcode__btn.btn_primary.disabled svg {
      margin-left: 10px;
      position: relative;
      left: 20px; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_settings {
  cursor: pointer;
  color: #9b9b9b; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_settings:hover {
    color: #3f4345; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_settings svg {
    left: 0;
    color: #9f9f9f;
    margin-right: 7px; }

#acidcodes_shortcodes_modal .acidcode__btn.btn_secondary {
  border: none;
  text-decoration: underline;
  font-size: 12px;
  color: #9b9b9b;
  letter-spacing: 0.2px; }
  #acidcodes_shortcodes_modal .acidcode__btn.btn_secondary:hover {
    color: #3f4345; }

#acidcodes_shortcodes_modal .input-field.col label {
  left: 0; }

#acidcodes_shortcodes_modal .select-wrapper input.select-dropdown {
  margin: 0; }

#acidcodes_shortcodes_modal input[type=range]::-webkit-slider-thumb, #acidcodes_shortcodes_modal ::-moz-range-thumb, #acidcodes_shortcodes_modal ::-ms-thumb, #acidcodes_shortcodes_modal + .thumb {
  background-color: #69F0AE; }

#acidcodes_shortcodes_modal .hide-list .dropdown-content li:nth-child(1) {
  display: none; }

#acidcodes_shortcodes_modal .dropdown-content li > a {
  color: #000; }

#acidcodes_shortcodes_modal .dropdown-content li > span {
  color: #000; }
  #acidcodes_shortcodes_modal .dropdown-content li > span:hover {
    color: #FFF;
    background-color: #69F0AE; }

#acidcodes_shortcodes_modal .dropdown-content li.active > span {
  color: #FFF;
  background-color: #00E676; }

.markers label {
  margin-bottom: 15px; }

span.social-media {
  margin: 5px 0 20px; }
  span.social-media label {
    font-size: 1rem; }

span.input-special-margin {
  margin-top: 19px; }

.shame-margin {
  margin: 20px 0px 10px 0px; }

.align-clear {
  clear: both; }

.acid_media_uploader {
  margin-bottom: 10px; }

.input-field.col.s12 {
  margin-top: 0;
  padding-right: 35px; }

.input-special-margin label {
  margin-top: -5px; }

li.icon {
  cursor: pointer; }
  li.icon.active {
    background-color: #69F0AE; }
    li.icon.active svg {
      color: #FFF;
      padding: 5px;
      transition: padding .5s; }
  li.icon:hover {
    background: #00E676;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s; }
    li.icon:hover svg {
      color: #fff;
      z-index: 12; }

ul.acid_icon_list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 245px;
  position: relative; }
  ul.acid_icon_list .row > li {
    clear: none !important; }
    ul.acid_icon_list .row > li svg {
      width: 0.75em !important; }
  ul.acid_icon_list::-webkit-scrollbar {
    width: 1em; }
  ul.acid_icon_list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); }
  ul.acid_icon_list::-webkit-scrollbar-thumb {
    background-color: #00E676;
    outline: 1px solid slategrey; }

.icon__special-title {
  margin-bottom: 5px;
  font-weight: 500 !important; }

.scroll-height .dropdown-content.select-dropdown {
  height: 150px; }

#acidcodes_shortcodes_form .media_image_holder {
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background: #ddd;
  border-radius: 10px;
  padding: 30px 20px;
  position: relative; }
  #acidcodes_shortcodes_form .media_image_holder i {
    color: #eee;
    border-top: 16px;
    font-size: 100px;
    cursor: pointer; }
    #acidcodes_shortcodes_form .media_image_holder i.icon-edit {
      display: none;
      position: absolute;
      top: 35px;
      left: 70px;
      z-index: 10; }
  #acidcodes_shortcodes_form .media_image_holder .upload_preview {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    border-radius: 10px;
    height: 100%;
    width: 100%; }
  #acidcodes_shortcodes_form .media_image_holder:hover i.active {
    display: block; }
  #acidcodes_shortcodes_form .media_image_holder svg.fa-image {
    color: #FFF;
    text-align: center;
    font-size: 40px; }
  #acidcodes_shortcodes_form .media_image_holder label {
    display: block;
    font-size: 15px;
    color: #7b7b7b !important; }

#TB_window {
  z-index: 1000500; }

#acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical {
  width: 100%; }
  #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-tabs-nav, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-slider-nav, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-tabs-nav, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-slider-nav, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-tabs-nav, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-slider-nav, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-tabs-nav, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-slider-nav {
    padding: 0;
    float: left;
    width: 16.66%; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-tabs-nav li, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-slider-nav li, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-tabs-nav li, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-slider-nav li, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-tabs-nav li, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-slider-nav li, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-tabs-nav li, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-slider-nav li {
      clear: left;
      width: 100%;
      border-bottom-width: 1px !important;
      border-right-width: 0 !important;
      margin: 0 -1px .2em 0; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-tabs-nav li a, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-slider-nav li a, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-tabs-nav li a, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-slider-nav li a, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-tabs-nav li a, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-slider-nav li a, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-tabs-nav li a, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-slider-nav li a {
      display: block; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-slider-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-tabs-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-slider-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-slider-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-tabs-nav li.ui-tabs-active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-slider-nav li.ui-tabs-active {
      padding-right: .1em;
      border-right-width: 1px; }
  #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .ui-tabs-panel, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .ui-tabs-panel, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .ui-tabs-panel, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .ui-tabs-panel {
    padding: 1em 1em 1em 0;
    width: 83.33333%;
    float: left; }
  #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tabs-heads li, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slider-heads li, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tabs-heads li, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slider-heads li, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tabs-heads li, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slider-heads li, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tabs-heads li, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slider-heads li {
    width: 100%;
    padding: 5px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tabs-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tabs-heads li:hover, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slider-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slider-heads li:hover, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tabs-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tabs-heads li:hover, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slider-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slider-heads li:hover, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tabs-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tabs-heads li:hover, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slider-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slider-heads li:hover, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tabs-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tabs-heads li:hover, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slider-heads li.ui-state-active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slider-heads li:hover {
      background-color: #f6f5f1; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tabs-heads li a:focus, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tabs-heads li a:active, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slider-heads li a:focus, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slider-heads li a:active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tabs-heads li a:focus, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tabs-heads li a:active, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slider-heads li a:focus, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slider-heads li a:active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tabs-heads li a:focus, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tabs-heads li a:active, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slider-heads li a:focus, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slider-heads li a:active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tabs-heads li a:focus, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tabs-heads li a:active, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slider-heads li a:focus, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slider-heads li a:active {
      outline: none !important; }
  #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tab, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slide, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tab, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slide, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tab, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slide, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tab, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slide {
    min-height: 300px;
    min-width: 450px;
    max-width: 83%; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tab > input, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tab > textarea, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slide > input, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slide > textarea, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tab > input, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tab > textarea, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slide > input, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slide > textarea, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tab > input, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tab > textarea, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slide > input, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slide > textarea, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tab > input, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tab > textarea, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slide > input, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slide > textarea {
      border-radius: 4px;
      padding: 2%;
      margin: 2% 5%;
      width: 92%; }
    #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .tab a.tip_icon, #acidcodes_shortcodes_form_modified .param-tabs.ui-tabs-vertical .slide a.tip_icon, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .tab a.tip_icon, #acidcodes_shortcodes_form_modified .param-tabs.ui-slider-vertical .slide a.tip_icon, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .tab a.tip_icon, #acidcodes_shortcodes_form_modified .param-slider.ui-tabs-vertical .slide a.tip_icon, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .tab a.tip_icon, #acidcodes_shortcodes_form_modified .param-slider.ui-slider-vertical .slide a.tip_icon {
      position: relative;
      right: -7px;
      top: -33px;
      float: right; }

#acidcodes_shortcodes_modal .l_modal_body ul, #acidcodes_shortcodes_modal .l_modal_body ul li {
  margin: 0;
  padding: 0;
  float: left; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover, #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover svg {
  color: #FFF;
  transition: all 0.4s; }

#acidcodes_shortcodes_modal .l_modal_body {
  color: #424242; }

#acidcodes_shortcodes_modal .l_modal_body a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #424242;
  letter-spacing: 1.3px;
  text-decoration: none; }

#acidcodes_shortcodes_modal .l_modal_body .icon {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #00E676;
  clear: both;
  display: block;
  margin: 0 auto 10px; }

#acidcodes_shortcodes_modal .l_modal_body ul {
  width: 100%;
  margin: 5px 0 0 0; }
  #acidcodes_shortcodes_modal .l_modal_body ul li {
    list-style: none; }
  #acidcodes_shortcodes_modal .l_modal_body ul > li {
    text-align: center; }

#acidcodes_shortcodes_modal .l_modal_body label {
  color: #424242;
  cursor: default; }

#acidcodes_shortcodes_modal .l_modal_body .l_three_col > li {
  width: 33%;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li:nth-last-of-type(-n+3) {
    border-bottom: none; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li:nth-child(3n) {
    border-right: none; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a {
    display: block;
    padding: 25px 25px; }
    #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li a:hover {
      cursor: pointer;
      background-color: #69F0AE; }
  #acidcodes_shortcodes_modal .l_modal_body .l_three_col > li .details_content {
    display: none; }

#acidcodes_shortcodes_modal .l_modal_body .s6 {
  padding: 0 35px 0 0; }

#acidcodes_shortcodes_modal .l_modal_body span.help-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #BDBDBD;
  line-height: 16px;
  display: block;
  margin: 0 0 15px 0; }

#acidcodes_shortcodes_modal .l_modal_body span.social-label {
  margin: 5px 0 20px; }

#acidcodes_shortcodes_modal .l_modal_body input[type=text]:not(.browser-default),
#acidcodes_shortcodes_modal .l_modal_body input[type=number]:not(.browser-default),
#acidcodes_shortcodes_modal .l_modal_body input[type=url]:not(.browser-default) {
  height: 2rem;
  margin: 0 0 5px 0; }

#acidcodes_shortcodes_modal .l_modal_body form {
  border: none; }

#acidcodes_shortcodes_modal .l_modal_body fieldset {
  border: none;
  padding: 0;
  margin: 0; }

#acidcodes_shortcodes_modal .l_modal_body .input-field label.active {
  color: #69F0AE; }

#acidcodes_shortcodes_modal .l_modal_body .help-block {
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #bbbbbb; }

#acidcodes_shortcodes_modal .l_modal_body select:focus, #acidcodes_shortcodes_modal .l_modal_body textarea:focus, #acidcodes_shortcodes_modal .l_modal_body input:focus, #acidcodes_shortcodes_modal .l_modal_body .uneditable-input:focus {
  outline: 0; }

#acidcodes_shortcodes_modal .l_modal_body input[type="checkbox"],
#acidcodes_shortcodes_modal .l_modal_body input[type="radio"] {
  width: auto; }

#acidcodes_shortcodes_modal .l_modal_body [type="checkbox"]:checked + label:before {
  border-right-color: #69F0AE;
  border-bottom-color: #69F0AE; }

#acidcodes_shortcodes_modal .l_modal_body input[type=range] + .thumb {
  background-color: #00E676; }

#acidcodes_shortcodes_modal .l_modal_body input[type=range]::-webkit-slider-thumb {
  background-color: #00E676; }

#acidcodes_shortcodes_modal .l_modal_body select {
  height: 32px; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container {
  padding: 0px; }
  #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content {
    margin: 10px 0 0 0;
    height: 0;
    opacity: 0; }
    #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content button[type="submit"] {
      display: none; }
    #acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .details_container .details_content.active {
      margin: 0 0 0 0;
      height: auto;
      opacity: 1; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body > ul {
  height: auto;
  opacity: 1;
  margin: 0 0 10px 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline {
  margin: 20px 0 0 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline label {
  float: left;
  line-height: 31px;
  margin: 0 13px 0 0; }

#acidcodes_shortcodes_modal.l_acid_modal .l_modal_body .inline input {
  width: auto; }

#acidcodes_shortcodes_modal.l_acid_modal.s_active .l_modal_body .details_container {
  display: block;
  padding: 20px 20px 0px 20px; }

#acidcodes_shortcodes_modal.l_acid_modal.s_active .l_modal_body > ul {
  height: 0;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 0; }

#acidcodes_shortcodes_modal .l_modal_header {
  margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_header {
    background: #00E676;
    background-color: #00E676;
    position: relative;
    border-bottom: 1px solid #E6E6E6; }
  #acidcodes_shortcodes_modal .l_modal_header .acidcode__btn--back, #acidcodes_shortcodes_modal .l_modal_header .close {
    box-shadow: none; }

.l_modal_title.col.s8 {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: 16px;
  font-family: 'Roboto',sans-serif; }

#acidcodes_shortcodes_modal .l_modal_footer {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid #dcdcdc;
  background-color: #E6E6E6;
  margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_footer span {
    color: #bbbbbb;
    line-height: 35px; }
  #acidcodes_shortcodes_modal .l_modal_footer * .row {
    margin-bottom: 0; }
  #acidcodes_shortcodes_modal .l_modal_footer a {
    font-family: 'Roboto', sans-serif; }
  #acidcodes_shortcodes_modal .l_modal_footer .insert-button {
    cursor: not-allowed; }

/*# sourceMappingURL=modal.css.map */
